* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.quiz-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quiz-card {
    width: 600px;
    height: 360px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.quiz-card>p {
    margin: 0;
    text-align: center;
}

#question {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.options {
    margin: 16px;
    cursor: pointer;
}

.correct {
    color: #4BB543;
    text-align: center;
}

.wrong {
    color: red;
    text-align: center;
}

.result {
    width: 600px;
    height: 360px;
    border: 1px solid black;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

button {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .quiz-card {
        width: 100%;
        box-shadow: none;
    }

    .quiz-card #question {
        text-align: center;
    }

    .result {
        border: none;
    }

    .options {
        width: 100%;
        padding: 16px;
        margin: 0;
        border: 1px solid black;
        margin-bottom: 16px;
        border-radius: 8px;
    }

    input {
        display: none;
    }

    .selected {
        background-color: black;
        color: white;
    }
}